@import '../assets/variables';

.entry-header {
	@include glassmorph-w;
  padding: 0 8px;
  margin-bottom: 32px;
}

.related-posts {
  margin-top: 32px;
  > h2 {
	  @include glassmorph-w;
    padding: 8px;
  }
  > ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.content-tags {
  padding: 16px 0;
  .post-tags {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    > a {
      @include glassmorph-w;
      padding: 8px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

h3#comments {
	@include glassmorph-w;
  padding: 8px;
  a {
    text-decoration: none;
  }
}

.comment-respond {
  .comment-reply-title {
	  @include glassmorph-w;
    padding: 8px;
  }
  .comment-form {
    .comment-form-comment {
      > textarea {
        border-radius: $border-radius;
      }
    }
    .form-submit {
      > input {
        @include glassmorph-w;
        color: #14e8ff;
      }
    }
  }
}