@import '../assets/variables';

.entry-title {
	@include glassmorph-w;
  padding: 8px;
}

.entry-content {
  > div {
    > a {
      @include glassmorph-w;
      padding: 8px;
      text-decoration: none;
    }
  }
}

.content-tags {
  padding: 16px 0;
  .post-tags {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    > a {
      @include glassmorph-w;
      padding: 8px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.related-posts {
  margin-top: 32px;
  > h2 {
	  @include glassmorph-w;
    padding: 8px;
  }
  > ul {
		list-style: none;
		margin: 0;
		padding: 0;
		columns: 300px;
    > li {
			width: 100%;
			object-fit: contain;
      a {
        text-decoration: none;
        > img {
					width: 100%;
					height: auto;
        }
      }
    }
  }
}