@import '../assets/variables';

.section-hero-block {
  position: relative;
  .adi26r-site-ilus {
    position: absolute;
    top: 0;
    left: 50%;
    width: 400px;
    height: 600px;
    z-index: -1;
    @include breakpoint-up(small){
      top: -10%;
    }
		@include breakpoint-up(medium){
      left: 60%;
      top: -20%;
		}
    @include breakpoint-up(large){
      left: 70%;
      top: -30%;
    }
    > img {
      width: 100%;
      height: auto;
    }
  }
}